@charset "utf-8";
body{
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	background-color: #f1f1f1;
}
.heade{
	height: 180px;
	width: 100%;
	background-color: #fff;
}
.top{
     height: 40px;
	background-color:#f1f1f1;
}
/*头部欢迎区域*/
.top .wrap-center .top-welcome{
	float: left;
	margin-left: 40px;
	margin-top: 10px;
}
.top .wrap-center .top-welcome a{
	text-decoration: none;
	color: #000;
}
.top .wrap-center .top-welcome a:hover{
	text-decoration: underline;
	color: red;
}
/*头部导航区域*/
.top .wrap-center .top-user{
	float: right;
	margin-right: 40px;
	margin-top: -12px;
}
.top .wrap-center .top-user a{
	text-decoration: none;
	color: #000;
}
.top .wrap-center .top-user a:hover{
	color: red;
}
.top .wrap-center .top-user ul li{
     list-style: none;
     float: left;
     margin:10px;
}
.top .wrap-bottem .top-images img{
	margin-left: -200px;
	margin-top: 40px;
}
.top .wrap-bottem .top-images a:hover{
cursor: pointer;
}
.top .wrap-bottem .top-input{
	float: right;
	margin-top: -50px;
	margin-right: 150px;
}
.top .wrap-bottem .top-input .text-input{
	border: 1px solid red;
	width: 400px;
	height: 35px;
	outline: none;
}
.top .wrap-bottem .top-input .button-input{
	width: 60px;
	height: 37px;
    margin-left: -6px;
    background-color: red;
    color: #fff;
    border: none;
    font-size: 20px;
    text-align: center;
}
.top .wrap-bottem .top-input .shopping-input{
	background-color: #FF9900;
	width: 100px;
	height: 37px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	margin-left: 80px;
}
.clear{
	clear: both;
}
.top .wrap-bottem .top-input .button-input,.shopping-input:hover{
	cursor: pointer;
}
/*.top .wrap-bottem .top-xlog{
	float: right;
}*/
.top .wrap-bottem .top-input ul li{
	float: left;
	list-style: none;
	margin-left: 10px;
	color: #A7A7A7;
}
.top .wrap-bottem .top-input ul li a{
	text-decoration: none;
	color: #A7A7A7;
}
.top .wrap-bottem .top-input ul li a:hover{
	color: red;
}
/*content部分*/
.content{
	width: 1200px;
	/*border: 2px solid #000;*/
}
.content .content-login ul{
	margin-left: 41px;
	width: 1200px;
    height: 44px;
    background-color: #404040;
}
.content .content-login ul .prod{
	background-color: #E70014;
}
.content .content-login ul li{
    color: #fff;
	text-align: center;
	list-style: none;
    float: left;
    font-size: 20px;
    width: 200px;
    line-height: 44px;
    margin-left: -40px;
    position: relative;
}
.content .content-login ul li img{
	position: absolute;
	top: -15px;
}
.content .content-login ul li a{
	text-decoration: none;
    color: #fff;
    display: block;
}
.content .content-login ul li a:hover{
	color: red;
}
/*content的top部分*/
.content .content-top .tj{
	width: 200px;
	height: 80px;
	margin-left: 40px;
	float: left;
}
.content .content-top .tj h1{
	float: left;
	font-size: 30px;
	/*margin-top: 0px;*/
}
.content .content-top .tj .tj-img{
float: left;
width: 20px;
height: 20px;
background-image: url(../images/ico.png);
margin-top: 30px;
margin-left: 10px;
}
.content .content-top .tj a span{
	float: left;
    margin-left: 2px;
    margin-top: 35px;
}
.content .content-top .cx{
	float: right;
	margin-top: 18px;
}
.content .content-top .cx ul li{
	float: left;
	list-style: none;
	height: 40px;
	margin-left: 10px;
	text-align: center;
}
.content .content-top .cx ul .li1{
	margin-top: 13px;
}
.content .content-top .cx ul li input{
	width: 230px;
	height: 30px;
}
.content .content-top .cx ul li .find{
	width: 60px;
	height: 35px;
	background-color: red;
	color: #fff;
	font-size: 18px;
}
.content .content-fist table{
    margin-left: 30px;
    width: 1170px;
    height: 360px;
    border-spacing: 10px;
}
.content .content-fist table tr td{
	width: 280px;
	height: 338px;
	background-color: #fff;
	
}
.content .content-fist table tr td img{
	margin-left: 10px;
	width: 250px;
	height: 170px;
	transition: all 1s ease;
}
.content .content-fist table tr td img:hover{
    transform: scale(1.1,1.1);
}
.content .content-fist table tr td ul li{
	list-style: none;
	line-height: 25px;
}
.content .content-fist table tr td ul .lc1{
	font-size: 16px;
	color: #000;
	text-align: center;
}
.content .content-fist table tr td ul .lc1:hover{
	color: red;
}
.content .content-fist table tr td ul .lc2{
	color: #8E8989;
	text-align: center;
	font-size: 13px;
}
.content .content-fist table tr td ul .lc3{
	border:1px solid #8E8989;
	width: 80px;
	height: 20px;
	text-align: center;
	padding-top: 0px;
	margin-left: 80px;
	color: #A7A5A5;
}
.content .content-fist table tr td ul .lc3:hover{
	border-color: red;
	color: red;
}
.content .content-fist table tr td ul .lc4{
	font-size: 20px;
	color: red;
	text-align: center;
}
/*content-second部分*/
.content .content-second .sd-p1,.sd-p2,.sd-p3,.sd-p4,.sd-p5,.sd-p6,.sd-p7,.sd-p8{
	margin-top: 30px;
}
.content .content-second .sd-p1 .p1-img{
	background-image: url(../images/csp8.jpg);
	width: 220px;
	height: 315px;
	margin-left: 35px;
	float: left;
	padding-left: 5px;
	color:#3E2100; 
}
.content .content-second .sd-p1 .p1-img h1{
	font-size: 30px;
}
.content .content-second .sd-p1 .p1-img a{
	text-decoration: none;
     color: #3E2100;
}
.content .content-second .sd-p1 .p1-img .a1{
	color: #717070;
}
.content .content-second .sd-p1 .p1-img a:hover{
	color: red;
}
.content .content-second .sd-p1 .p1-tab{
	background-color: #fff;
	width: 930px;
	height: 315px;
	float: right;
}
.content .content-second .sd-p1 .p1-tab tr td{
	width: 230px;
    border: 1px solid #fff;
    height: 313px;
}
.content .content-second .sd-p1 .p1-tab tr td:hover{
	border-color: red;
}
.content .content-second .sd-p1 .p1-tab table tr td img{
	margin-left: 10px;
	width: 200px;
	height: 130px;
	transition: all 1s ease;
}
.content .content-second .sd-p1 .p1-tab img:hover{
	transform: scale(1.1,1.1);
}
.content .content-second .sd-p1 .p1-tab table tr td ul li{
	list-style: none;
	line-height: 25px;
}
.content .content-second .sd-p1 .p1-tab table tr td ul .lc1{
	font-size: 16px;
	color: #000;
	text-align: center;
}
.content .content-second .sd-p1 .p1-tab table tr td ul .lc1:hover{
	color: red;
}
.content .content-second .sd-p1 .p1-tab table tr td ul .lc2{
	color: #8E8989;
	text-align: center;
	font-size: 13px;
}
.content .content-second .sd-p1 .p1-tab table tr td ul .lc3{
	border:1px solid #8E8989;
	width: 80px;
	height: 20px;
	text-align: center;
	padding-top: 0px;
	margin-left: 50px;
	color: #A7A5A5;
}
.content .content-second .sd-p1 .p1-tab table tr td ul .lc3:hover{
	border-color: red;
	color: red;
}
.content .content-second .sd-p1 .p1-tab table tr td ul .lc4{
	font-size: 20px;
	color: red;
	text-align: center;
}





.content .content-second .sd-p2 .p1-img2{
	background-image: url(../images/csp1.jpg);
	width: 220px;
	height: 315px;
	margin-left: 35px;
	float: left;
	padding-left: 5px;
}
.content .content-second .sd-p2 .p1-img2 h1{
	font-size: 30px;
	color: #006092;
}
.content .content-second .sd-p2 .p1-img2 a{
	text-decoration: none;
     color: #3E2100;
}
.content .content-second .sd-p2 .p1-img2 a:hover{
	color: red;
}
.content .content-second .sd-p2 .p1-tab2{
	background-color: #fff;
	width: 930px;
	height: 315px;
	float: right;
}
.content .content-second .sd-p2 .p1-tab2 tr td{
	width: 230px;
    border: 1px solid #fff;
    height: 313px;
}
.content .content-second .sd-p2 .p1-tab2 tr td:hover{
	border-color: red;
}
.content .content-second .sd-p2 .p1-tab2 table tr td img{
	width: 200px;
	height: 130px;
	margin-left: 10px;
	transition: all 1s ease;
}
.content .content-second .sd-p2 .p1-tab2 img:hover{
	transform: scale(1.1,1.1);
}
.content .content-second .sd-p2 .p1-tab2 table tr td ul li{
	list-style: none;
	line-height: 25px;
}
.content .content-second .sd-p2 .p1-tab2 table tr td ul .lc1{
	font-size: 16px;
	color: #000;
	text-align: center;
}
.content .content-second .sd-p2 .p1-tab2 table tr td ul .lc1:hover{
	color: red;
}
.content .content-second .sd-p2 .p1-tab2 table tr td ul .lc2{
	color: #8E8989;
	text-align: center;
	font-size: 13px;
}
.content .content-second .sd-p2 .p1-tab2 table tr td ul .lc3{
	border:1px solid #8E8989;
	width: 80px;
	height: 20px;
	text-align: center;
	padding-top: 0px;
	margin-left: 50px;
	color: #A7A5A5;
}
.content .content-second .sd-p2 .p1-tab2 table tr td ul .lc3:hover{
	border-color: red;
	color: red;
}
.content .content-second .sd-p2 .p1-tab2 table tr td ul .lc4{
	font-size: 20px;
	color: red;
	text-align: center;
}








.content .content-second .sd-p3 .p1-img3{
	background-image: url(../images/csp2.jpg);
	width: 220px;
	height: 315px;
	margin-left: 35px;
	float: left;
	padding-left: 5px;
}
.content .content-second .sd-p3 .p1-img3 h1{
	font-size: 30px;
	color: #674941;
}
.content .content-second .sd-p3 .p1-img3 a{
	text-decoration: none;
     color: #3E2100;
}
.content .content-second .sd-p3 .p1-img3 a:hover{
	color: red;
}
.content .content-second .sd-p3 .p1-tab3{
	background-color: #fff;
	width: 930px;
	height: 315px;
	float: right;
}
.content .content-second .sd-p3 .p1-tab3 tr td{
	width: 230px;
    border: 1px solid #fff;
    height: 313px;
}
.content .content-second .sd-p3 .p1-tab3 tr td:hover{
	border-color: red;
}
.content .content-second .sd-p3 .p1-tab3 table tr td img{
	width: 200px;
	height: 130px;
	margin-left: 10px;
	transition: all 1s ease;
}
.content .content-second .sd-p3 .p1-tab3 img:hover{
	transform: scale(1.1,1.1);
}
.content .content-second .sd-p3 .p1-tab3 table tr td ul li{
	list-style: none;
	line-height: 25px;
}
.content .content-second .sd-p3 .p1-tab3 table tr td ul .lc1{
	font-size: 16px;
	color: #000;
	text-align: center;
}
.content .content-second .sd-p3 .p1-tab3 table tr td ul .lc1:hover{
	color: red;
}
.content .content-second .sd-p3 .p1-tab3 table tr td ul .lc2{
	color: #8E8989;
	text-align: center;
	font-size: 13px;
}
.content .content-second .sd-p3 .p1-tab3 table tr td ul .lc3{
	border:1px solid #8E8989;
	width: 80px;
	height: 20px;
	text-align: center;
	padding-top: 0px;
	margin-left: 50px;
	color: #A7A5A5;
}
.content .content-second .sd-p3 .p1-tab3 table tr td ul .lc3:hover{
	border-color: red;
	color: red;
}
.content .content-second .sd-p3 .p1-tab3 table tr td ul .lc4{
	font-size: 20px;
	color: red;
	text-align: center;
}






.content .content-second .sd-p4 .p1-img4{
	background-image: url(../images/csp3.jpg);
	width: 220px;
	height: 315px;
	margin-left: 35px;
	float: left;
	padding-left: 5px;
}
.content .content-second .sd-p4 .p1-img4 h1{
	font-size: 30px;
	color: #B4353A;
}
.content .content-second .sd-p4 .p1-img4 a{
	text-decoration: none;
     color: #3E2100;
}
.content .content-second .sd-p4 .p1-img4 a:hover{
	color: red;
}
.content .content-second .sd-p4 .p1-tab4{
	background-color: #fff;
	width: 930px;
	height: 315px;
	float: right;
}
.content .content-second .sd-p4 .p1-tab4 tr td{
	width: 230px;
    border: 1px solid #fff;
    height: 313px;
}
.content .content-second .sd-p4 .p1-tab4 tr td:hover{
	border-color: red;
}
.content .content-second .sd-p4 .p1-tab4 table tr td img{
	width: 200px;
	height: 130px;
	margin-left: 10px;
	transition: all 1s ease;
}
.content .content-second .sd-p4 .p1-tab4 img:hover{
	transform: scale(1.1,1.1);
}
.content .content-second .sd-p4 .p1-tab4 table tr td ul li{
	list-style: none;
	line-height: 25px;
}
.content .content-second .sd-p4 .p1-tab4 table tr td ul .lc1{
	font-size: 16px;
	color: #000;
	text-align: center;
}
.content .content-second .sd-p4 .p1-tab4 table tr td ul .lc1:hover{
	color: red;
}
.content .content-second .sd-p4 .p1-tab4 table tr td ul .lc2{
	color: #8E8989;
	text-align: center;
	font-size: 13px;
}
.content .content-second .sd-p4 .p1-tab4 table tr td ul .lc3{
	border:1px solid #8E8989;
	width: 80px;
	height: 20px;
	text-align: center;
	padding-top: 0px;
	margin-left: 50px;
	color: #A7A5A5;
}
.content .content-second .sd-p4 .p1-tab4 table tr td ul .lc3:hover{
	border-color: red;
	color: red;
}
.content .content-second .sd-p4 .p1-tab4 table tr td ul .lc4{
	font-size: 20px;
	color: red;
	text-align: center;
}






.content .content-second .sd-p5 .p1-img5{
	background-image: url(../images/csp4.jpg);
	width: 220px;
	height: 315px;
	margin-left: 35px;
	float: left;
	padding-left: 5px;
}
.content .content-second .sd-p5 .p1-img5 h1{
	font-size: 30px;
	color: #147552;
}
.content .content-second .sd-p5 .p1-img5 a{
	text-decoration: none;
     color: #3E2100;
}
.content .content-second .sd-p5 .p1-img5 a:hover{
	color: red;
}
.content .content-second .sd-p5 .p1-tab5{
	background-color: #fff;
	width: 930px;
	height: 315px;
	float: right;
}
.content .content-second .sd-p5 .p1-tab5 tr td{
	width: 230px;
    border: 1px solid #fff;
    height: 313px;
}
.content .content-second .sd-p5 .p1-tab5 tr td:hover{
	border-color: red;
}
.content .content-second .sd-p5 .p1-tab5 table tr td img{
	width: 200px;
	height: 130px;
	margin-left: 10px;
	transition: all 1s ease;
}
.content .content-second .sd-p5 .p1-tab5 img:hover{
	transform: scale(1.1,1.1);
}
.content .content-second .sd-p5 .p1-tab5 table tr td ul li{
	list-style: none;
	line-height: 25px;
}
.content .content-second .sd-p5 .p1-tab5 table tr td ul .lc1{
	font-size: 16px;
	color: #000;
	text-align: center;
}
.content .content-second .sd-p5 .p1-tab5 table tr td ul .lc1:hover{
	color: red;
}
.content .content-second .sd-p5 .p1-tab5 table tr td ul .lc2{
	color: #8E8989;
	text-align: center;
	font-size: 13px;
}
.content .content-second .sd-p5 .p1-tab5 table tr td ul .lc3{
	border:1px solid #8E8989;
	width: 80px;
	height: 20px;
	text-align: center;
	padding-top: 0px;
	margin-left: 50px;
	color: #A7A5A5;
}
.content .content-second .sd-p5 .p1-tab5 table tr td ul .lc3:hover{
	border-color: red;
	color: red;
}
.content .content-second .sd-p5 .p1-tab5 table tr td ul .lc4{
	font-size: 20px;
	color: red;
	text-align: center;
}






.content .content-second .sd-p6 .p1-img6{
	background-image: url(../images/csp5.jpg);
	width: 220px;
	height: 315px;
	margin-left: 35px;
	float: left;
	padding-left: 5px;
}
.content .content-second .sd-p6 .p1-img6 h1{
	font-size: 30px;
	color: #9B5200;
}
.content .content-second .sd-p6 .p1-img6 a{
	text-decoration: none;
     color: #3E2100;
}
.content .content-second .sd-p6 .p1-img6 a:hover{
	color: red;
}
.content .content-second .sd-p6 .p1-tab6{
	background-color: #fff;
	width: 930px;
	height: 315px;
	float: right;
}
.content .content-second .sd-p6 .p1-tab6 tr td{
	width: 230px;
    border: 1px solid #fff;
    height: 313px;
}
.content .content-second .sd-p6 .p1-tab6 tr td:hover{
	border-color: red;
}
.content .content-second .sd-p6 .p1-tab6 table tr td img{
	width: 200px;
	height: 130px;
	margin-left: 10px;
	transition: all 1s ease;
}
.content .content-second .sd-p6 .p1-tab6 img:hover{
	transform: scale(1.1,1.1);
}
.content .content-second .sd-p6 .p1-tab6 table tr td ul li{
	list-style: none;
	line-height: 25px;
}
.content .content-second .sd-p6 .p1-tab6 table tr td ul .lc1{
	font-size: 16px;
	color: #000;
	text-align: center;
}
.content .content-second .sd-p6 .p1-tab6 table tr td ul .lc1:hover{
	color: red;
}
.content .content-second .sd-p6 .p1-tab6 table tr td ul .lc2{
	color: #8E8989;
	text-align: center;
	font-size: 13px;
}
.content .content-second .sd-p6 .p1-tab6 table tr td ul .lc3{
	border:1px solid #8E8989;
	width: 80px;
	height: 20px;
	text-align: center;
	padding-top: 0px;
	margin-left: 50px;
	color: #A7A5A5;
}
.content .content-second .sd-p6 .p1-tab6 table tr td ul .lc3:hover{
	border-color: red;
	color: red;
}
.content .content-second .sd-p6 .p1-tab6 table tr td ul .lc4{
	font-size: 20px;
	color: red;
	text-align: center;
}











.content .content-second .sd-p7 .p1-img7{
	background-image: url(../images/csp6.jpg);
	width: 220px;
	height: 315px;
	margin-left: 35px;
	float: left;
	padding-left: 5px;
}
.content .content-second .sd-p7 .p1-img7 h1{
	font-size: 30px;
	color: #174E74;
}
.content .content-second .sd-p7 .p1-img7 a{
	text-decoration: none;
     color: #3E2100;
}
.content .content-second .sd-p7 .p1-img7 a:hover{
	color: red;
}
.content .content-second .sd-p7 .p1-tab7{
	background-color: #fff;
	width: 930px;
	height: 315px;
	float: right;
}
.content .content-second .sd-p7 .p1-tab7 tr td{
	width: 230px;
    border: 1px solid #fff;
    height: 313px;
}
.content .content-second .sd-p7 .p1-tab7 tr td:hover{
	border-color: red;
}
.content .content-second .sd-p7 .p1-tab7 table tr td img{
	width: 200px;
	height: 130px;
	margin-left: 10px;
	transition: all 1s ease;
}
.content .content-second .sd-p7 .p1-tab7 img:hover{
	transform: scale(1.1,1.1);
}
.content .content-second .sd-p7 .p1-tab7 table tr td ul li{
	list-style: none;
	line-height: 25px;
}
.content .content-second .sd-p7 .p1-tab7 table tr td ul .lc1{
	font-size: 16px;
	color: #000;
	text-align: center;
}
.content .content-second .sd-p7 .p1-tab7 table tr td ul .lc1:hover{
	color: red;
}
.content .content-second .sd-p7 .p1-tab7 table tr td ul .lc2{
	color: #8E8989;
	text-align: center;
	font-size: 13px;
}
.content .content-second .sd-p7 .p1-tab7 table tr td ul .lc3{
	border:1px solid #8E8989;
	width: 80px;
	height: 20px;
	text-align: center;
	padding-top: 0px;
	margin-left: 50px;
	color: #A7A5A5;
}
.content .content-second .sd-p7 .p1-tab7 table tr td ul .lc3:hover{
	border-color: red;
	color: red;
}
.content .content-second .sd-p7 .p1-tab7 table tr td ul .lc4{
	font-size: 20px;
	color: red;
	text-align: center;
}
/*footer部分*/
#footer{
}
#footer .fhead{
	height: 80px;
	background-color: #E70014;
}
#footer .fhead ul li{
	float: left;
	list-style: none;
	font-size: 20px;
	color: #fff;
	width: 300px;
	padding-top: 30px;
}
#footer .fhead .fp1,.fp2,.fp3,.fp4{
	float: left;
	margin-top: -14px;
	width: 60px;
	height: 55px;
	background-image: url(../images/foot_ico.png);
	background-repeat: no-repeat;
}
#footer .fhead .fp2{
    background-position: left -60px top 0px;
}
#footer .fhead .fp3{
    background-position: left -123px top 0px;
}
#footer .fhead .fp4{
    background-position: left -184px top 0px;
}
#footer .fhead span{
	float: left;
}
#footer .fbody{
	height: 240px;
	background-color: #3B3B3B;
}
#footer .fbody table{float: left;}
#footer .fbody table tr td ul li{
	list-style: none;
	font-size: 15px;
	color: #fff;
	height: 30px;
	line-height: 10px;
	margin-top: 10px;
}
#footer .fbody table tr td ul .x1{
	font-size: 20px;
}
#footer .fbody table tr td ul li:hover{
	color: red;
	text-decoration: underline;
}
#footer hr{
	width: 100%;
	border-width: 1px;
}
#footer .fbody-last{
	float: right;
	margin-top: -200px;
	margin-right: 150px;
}
#footer .fbody-last .last1{
	float: left;
	color: #fff;
}
#footer .fbody-last .last1 p{
	margin-left: 30px;
}
#footer .fbody-last .last1 span{
	font-size: 30px;
	color: red;
}
#footer .fbody-last .last2{
	float: left;
	margin-left: 20px;
}
#footer .lap{
	height: 60px;
	margin-top: -15px;
	background-color: #3B3B3B;
	color: #fff;
}
#footer .lap .last-p{
	text-align: center;
	/*margin-left: 400px;*/
}
/*侧边*/
.fix-right{
	width: 55px;
	background-color:#fff;
	/*用fixed定位的参照物是窗口*/
	position: fixed;
	right: 0px;
	top: 30%;
}
.fix-right ul{
	margin-top: -3px;
}
.fix-right ul li{
	/*width: 65px;*/
	height: 60px;
	list-style: none;
	margin-left: -40px;
	border: 1px solid #fff;
	border-bottom-color: #ddd;

}
.fix-right ul li a{
	color: #000;
	text-decoration: none;
}
.fix-right ul li:hover{
	background-color: #E70014;
}
.fix-right ul li a span{ 
	font-stretch: expanded;
	margin-left: 15px;
}
.fix-img,.fix-img1,.fix-img2,.fix-img3,.fix-img4{
	margin-left: 15px;
	width: 30px;
	height: 30px;
	background-image: url(../images/float_ico.png);
	background-repeat: no-repeat;
	
}
.fix-img{
background-position: left -155px top 0px;
}
.fix-img2{
	background-position: left -28px top 0px;
}
.fix-img3{
	background-position: left -90px top 0px;
}
.fix-img4{
	background-position: left -123px top 0px;
}
.fix-right ul li img{
	width: 55px;
	height: 60px;
}