@charset "utf-8";
body,div{
	margin: 0px;
	padding: 0px;
}
.content .cont-body{
	width: 100%;
	height: 592px;
	background-image: url(../images/login_bg.jpg);
	margin-top: -18px;
	margin-bottom: -12px;
}
.content .cont-body .cont-dl{
	opacity: 0.8;
	background-color: #E0E0DB;
	width: 450px;
	height: 400px;
	position: relative;
	top:70px;
	left: 450px;
	font-size: 15px;
}
.content .cont-body .cont-dl h1{
	font-size: 25px;
	color: #E70012;
	padding-left: 40px;
	padding-top: 30px;
	font-weight: 10px;
}
.content .cont-body .cont-dl .inp-t1,.inp-t2{
	width: 300px;
	height: 40px;
	margin-left: 55px;
	outline: none;
	padding-left: 40px;
	font-size: 15px;
}
.content .cont-body .cont-dl .inp-t1{
	background-image: url(../images/login_01.gif);
	background-repeat: no-repeat;
	background-position: left 0px top 12px;
}
.content .cont-body .cont-dl .inp-t2{
	background-image: url(../images/login_02.gif);
	background-repeat: no-repeat;
	background-position: left 0px top 12px;
}
.content .cont-body .cont-dl ul{
	margin-left: 160px;
}
.content .cont-body .cont-dl ul li{
	list-style: none;
	float: left;
	margin-left: 5px;
}
.content .cont-body .cont-dl ul li a{
	text-decoration: none;
	color: #272727;
}
.content .cont-body .cont-dl ul li a:hover{
	color: red;
}
.content .cont-body .cont-dl .inp-b{
	width: 340px;
	height: 50px;
	margin-left: 53px;
	font-size: 25px;
	background-color:#E70012;
	color: #fff;
	cursor: pointer;
}

